axial_positional_embedding==0.3.12
colorlog==6.9.0
editdistance==0.8.1
einops==0.8.1
huggingface_hub==0.32.4
jiwer==4.0.0
joblib==1.5.1
numpy==2.3.3
opencv_python==4.12.0.88
optuna==4.4.0
pandas==1.5.3
peft==0.16.0
Pillow==11.3.0
plotly==6.2.0
scikit_learn==1.7.2
setuptools==72.1.0
torch==2.7.1
torch_geometric==2.0.1
torchaudio==2.7.1
torcheval==0.0.7
torchmetrics==1.8.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.52.4
wandb==0.21.4
